<div class="section margintopothers">
    <div class="container">
        <h4 class="mt-3 " style="color: rgb(151, 110, 35);">Orders</h4><hr>
        {{#each userOrder}}
           <h5> cartId: {{this._id}}</h5><hr>
           
           <h6><span class="text-danger">Date of Order:</span> {{this.date}}</h6>
           <h6>Total Price: {{this.total}}</h6>
           <h6 mt-3>status :{{this.status}}</h6>
             
             <table class="table">
                {{#each cartItems}}
                <tbody>
                    <tr>
                        <td>{{this.Product.Name}}</td>
                        <td> RS. {{this.Product.Price}}</td>
                        <td>Quantity: {{this.Product.quantity}}</td>
                    </tr>
                </tbody>
                 {{/each}}
             </table>
              
            
             
           
        {{/each}}
    </div>
</div>