<section class=" bg-light margintop">
  <div class="container-fluid ">
  
    
    <div class="row ">
      
     {{#each product}}
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
           
            <div class="card ml-5 mt-5 text-center" style="width: 18rem;">
  <img class="card-img-top mt-2 pImage" style="height: 160px; width:100px;" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <h6>Price: RS.{{this.Price}}</h6>
    <p class="card-text">{{this.Description}}</p>
    <a href="/addtoCart/{{this._id}}/{{this.Name}}/{{this.Price}}" class="btn btn-info "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart mr-2" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>Add to Cart</a>
  </div>
</div>
        
      
      </div>  
      {{/each}} 
      
    </div>
   
    
</div>
</section>

